.banner
    background-image: url('../img/banner.png')
    background-size: 60% 100%
    background-repeat: no-repeat
    padding: 90px 0 150px 0
    +from-to($xlarge, 1600px)
        background-size: 65% 100%
    +to($xlarge)
        background-size: 100%
    +from-to($large, $xlarge)
        padding: 40px 0 40px 0
    +from-to($small, $large)
        padding: 20px 0 20px 0
    +to($small)
        padding: 10px 0 10px 0
    .b-information
        color: #ffffff
        &__c-name
            display: inline-block
            padding: 10px 15px
            text-transform: uppercase
            border-radius: 25px
            font-weight: 700
            font-size: 1.1rem
            background-color: $c_main
            margin-bottom: 20px
            +to($small)
                margin-bottom: 10px
                padding: 6px 11px
        &__title
            font-size: 6.4rem
            font-weight: 300
            text-transform: uppercase
            +from-to($small, $large)
                font-size: 3.8rem
            +to($small)
                font-size: 1.8rem
        &__description
            font-size: 2.8rem
            line-height: 3
            +from-to($small, $large)
                line-height: 2
                font-size: 1.8rem
            +to($small)
                line-height: 1
                font-size: 1.2rem
    .b-form
        margin: 0 auto
        display: flex
        flex-direction: column
        align-items: center
        +to($xlarge)
            display: none
        &__title
            font-size: 3.2rem
            font-weight: 300
            color: #222222
            display: inline-block
            padding-bottom: 30px
            padding-left: 45px
            &--span
                font-size: 1.8rem
                color: #8c9699
                display: block
                line-height: 2
        .input-field
            padding-bottom: 20px
            input
                width: 250px
        .btn-submit
            width: 250px
            height: 51px
            box-shadow: 0 10px 20px rgba(208, 162, 28, 0.3)
            border-radius: 25px
            border: 2px solid #ffbb1c
            background-color: #00ff33
            background-image: linear-gradient(to bottom, #f1d117 0%, #e1580c 100%)
            transition: all .3s
            &:hover
                transform: scale(.95)

