.control
    background-image: url('../img/sofa.png')
    background-position: 85% 0
    background-repeat: no-repeat
    padding-bottom: 100px
    +to($large)
        padding-bottom: 50px
    +from-to($medium, $large)
        background-position: 100% 100%
        background-size: 50%
    +to($medium)
        background-position: 100% 80%
        background-size: 50%
    +to($small)
        background: none
    .c-left
        h3
            font-weight: 700
            padding-bottom: 30px
        ul
            list-style: disc
            padding-left: 10px
            font-size: 1.4rem
            color: #555555
            padding-bottom: 40px
            li
                padding-bottom: 5px
                &:last-child
                    padding-bottom: 0
    .c-description
        border-right: 2px solid #ffbb1c
        border-left: 2px solid #ffbb1c
        color: #333333
        font-size: 1.5rem
        font-weight: 600
        text-align: center
        padding: 0 20px 0 20px
        +to($large)
            margin-bottom: 30px
    .rooms
        padding-bottom: 40px

    .room
        text-align: center
        display: flex
        flex-direction: column
        height: 100%
        +to($medium)
            padding-bottom: 15px
        &__title
            font-size: 2rem
            margin-top: auto
        &__description
            color: #555555
            font-size: 1.2rem

    .line
        position: relative
        height: 150px
        &::before
            content: ''
            background-color: #2953dd
            background-image: linear-gradient(to left, #1390d8 0%, #2953dd 100%)
            background-repeat: no-repeat
            opacity: 0.9
            position: absolute
            width: 60%
            height: 100%
            +to($large)
                width: 80%
            +to($medium)
                width: 100%
        &::after
            content: ''
            position: absolute
            left: 60%
            bottom: 0
            border: 75px solid transparent
            border-left: 60px solid #1390d8
            opacity: 0.9
            +from-to($medium, $large)
                left: 80%
            +to($medium)
                display: none
        .row
            align-items: center
    .l-content
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        height: 150px
        color: #fff
        &::before
            content: ''
            background-image: url('../img/icons/quotes.png')
            background-repeat: no-repeat
            position: absolute
            left: 0
            top: 20%
            width: 130px
            height: 90px
            z-index: 2
            opacity: 0.5
        &__title
            font-size: 4.8rem
            z-index: 3
            +to($small)
                font-size: 3.2rem
        &__description
            font-size: 1.3rem
            line-height: 2
            z-index: 3
            +to($small)


