.facts
    padding: 60px 0 100px 0
    +to($large)
        padding: 30px 0 30px 0
    .f-title
        text-align: center
        padding-bottom: 40px
    .fact
        display: flex
        +to($large)
            flex-direction: column
            align-items: center
            text-align: center
            padding-bottom: 20px
        &__content
            padding-top: 25px
            +to($large)
                padding-top: 10px
        &__image
            padding-right: 5px
        &__title
            color: $c_main
            font-weight: 400
            padding-bottom: 10px
        &__description
            font-size: 1.4rem
            color: #8c9699
