.header
    padding: 25px 0
    .row
        align-items: center
        // +to($medium)
        //     align-items: stretch
    .logo
        // +to($large)
        +from-to($medium, $large)
            text-align: center
            padding-bottom: 10px
        &__link
            color: #333333
            font-weight: 400
            font-size: 2.4rem
            display: block
            &--bgc
                display: inline-block
                padding: 5px 10px
                color: #fefefe
                font-weight: 700
                text-transform: uppercase
                background-color: $c_main
                margin-right: 5px
        &__description
            font-size: 1.2rem
            color: #95a0a3
            font-weight: 400
            line-height: 3
    .navigation
        &__list
            display: flex
            +from-to($large, $xlarge)
                justify-content: flex-end
            +from-to($medium, $large)
                justify-content: center
            +to($medium)
                display: none
        &__item
            padding-left: 20px
            margin-right: 20px
            &.active
                border-bottom: 3px solid #ffbb1c
            +to($medium)
                text-align: center
                margin-bottom: 10px
            &:last-child
                +to($medium)
                    margin-bottom: 0

        &__link
            font-size: 1.5rem
            font-weight: 400
            color: #6f7b80
    .phone
        text-align: right
        +to($xlarge)
            display: none
        &__number
            font-size: 1.6rem
            color: #333333
            display: block
        &__link
            font-size: 1.2rem
            color: $c_main
            text-decoration: underline
    .burger
        text-align: right
        +from($medium)
            display: none
        &__button
            border: none
            background: transparent
            outline: none
            height: 25px
            span
                width: 25px
                height: 3px
                display: block
                background-color: #000
                margin-bottom: 6px
                transition: all .3s
                &:last-child
                    margin-bottom: 0
            &.active
                // margin-top: 20px
                & .burger__button--top
                    transform: rotate(135deg)
                & .burger__button--mid
                    opacity: 0
                    transition-duration: .1s
                & .burger__button--bot
                    transform: rotate(45deg)
                    margin-top: -18px

    .col-3
        +from($medium)
            display: none
