section.banner
    .container
        .row
            .col-xl-8.col-12
                .b-information
                    .b-information__c-name
                        | "Уютный дом"
                    .b-information__title
                        | Полюбить ремонт просто, мы сделаем его за вас!
                    .b-information__description
                        | 2939 жителей доверили нам ремонт своих квартир
            .col-xl-4
                .b-form
                    .b-form__title
                        | Оставьте свои контакты
                        span.b-form__title--span
                            | и мы свяжемся с Вами
                    form(action="")
                        .input-field
                            label(for="name")
                                | Имя
                            input#name(type="text" name="name" placeholder="Александр")
                        .input-field
                            label(for="email")
                                | E-mail
                            input#email(type="email" name="email" placeholder="Alex@yandex.ru")
                        .input-field
                            label(for="phone")
                                | Телефон
                            input#phone(type="text" name="phone" placeholder="+8 495 007-81-24")
                        button.btn-submit(type="submit") Получить консультацию
