section.control
    .container
        .row
            .col-lg-6.col-12
                .c-left
                    h3
                        | Мы контролируем рабочих за вас
                    ul
                        li
                            | Многоуровневый мониторинг качества работ.
                        li
                            | Персональный менеджер контроля качества.
                    .row.rooms
                        .col-lg-4.col-md-4
                            .room
                                .room__image
                                    img(src="../img/icons/room1.png", alt="1-комнатная")
                                .room__title
                                    | 1-комнатная
                                .room__description
                                    | От 50 календарных дней!
                        .col-lg-4.col-md-4
                            .room
                                .room__image
                                    img(src="../img/icons/room2.png", alt="2-комнатная")
                                .room__title
                                    | 2-комнатная
                                .room__description
                                    | От 70 календарных дней!
                        .col-lg-4.col-md-4
                            .room
                                .room__image
                                    img(src="../img/icons/room3.png", alt="3-комнатная")
                                .room__title
                                    | 3-комнатная
                                .room__description
                                    | От 90 календарных дней!
            .col-lg-4.offset-lg-1
                .c-description
                    | Многоуровневый мониторинг качества работ. Персональный менеджер контроля качества.
    .line
        .container
            .row
                .col-lg-8
                    .l-content
                        .l-content__title
                            | Уже совсем скоро!
                        .l-content__description
                            | Новые решения по отделке и дизайну вашей квартиры от экспертов «Уютный Дом»
