section.facts
    .container
        .row
            .col-12
                .f-title
                    h2
                        | Факты о нас
        .row
            .col-lg-4
                .fact
                    .fact__image
                        img(src="../img/icons/icon1.png", alt="Оплата")
                    .fact__content
                        .fact__title
                            h3
                                | Оплата
                        .fact__description
                            | Платить можно потом — гибкие системы кредитования и рассрочки
            .col-lg-4
                .fact
                    .fact__image
                        img(src="../img/icons/icon2.png", alt="Время")
                    .fact__content
                        .fact__title
                            h3
                                | Время
                        .fact__description
                            | Не нужно ездить по рынкам и магазинам, тратя время и нервы.
            .col-lg-4
                .fact
                    .fact__image
                        img(src="../img/icons/icon3.png", alt="Организация")
                    .fact__content
                        .fact__title
                            h3
                                | Организация
                        .fact__description
                            | Не нужно заниматься организацией перевозки и погрузки материалов.
