header.header
    .container
        .row
            .col-xl-3.col-lg-3.col-md-12.col-9
                .logo
                    a.logo__link(href="#")
                        span.logo__link--bgc Уютный
                        | дом
                    span.logo__description Строительные и ремонтные услуги
            .col-3
                .burger
                    button.burger__button
                        span.burger__button--top
                        span.burger__button--mid
                        span.burger__button--bot
            .col-xl-7.col-lg-9.col-md-12
                nav.navigation
                    ul.navigation__list
                        li.navigation__item.active
                            a.navigation__link(href="#") О нас
                        li.navigation__item
                            a.navigation__link(href="#") Наши преймущества
                        li.navigation__item
                            a.navigation__link(href="#") Наши кейсы
                        li.navigation__item
                            a.navigation__link(href="#") Как мы работаем
            .col-xl-2
                .phone
                    span.phone__number 8-800-222-32-54
                    a.phone__link(href="#") Заказать звонок
