*
    box-sizing: border-box
    outline: none

html
    font-size: 62.5%
    font-family: $f_main

body
    margin: 0
    padding: 0

a
    color: #000000
    outline: none
    text-decoration: none

ul
    list-style: none
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0

h1
    font-size: 4.0rem
h2
    font-size: 3.6rem
h3
    font-weight: 400
    font-size: 3.0rem

button
    cursor: pointer

.input-field
    label
        display: block
        margin-bottom: 5px
        font-size: 1.3rem
        color: #5c6264
    input
        border: 1px solid #e1e7e8
        height: 55px
        padding-left: 20px
        color: #8c9699
        font-size: 16px
        font-weight: 300
        transition: all .3s
        &:focus
            border-color: $c_main
            transform: scale(1.15)

